.header {
  width: 80%;
  font-weight: 700;
  font-size: 3rem;
  margin: 2rem auto 1rem auto;
}
.login-form {
  width: 80%;
  margin: auto;
}
.username {
  width: 100%;
}
.password {
  width: 100%;
}
.submit {
  margin-top: 1rem;
}
.reset {
  margin-left: 0.5rem;
  white-space: nowrap;
}
.login-failed {
  text-align: center;
  margin-top: 0.5rem;
}
.mat-icon.email {
  color: rgb(80, 57, 143);
  margin-right: 0.5rem;
}
