<div class="create-question">
  <div class="header">
    Create Question for {{ assessmentName.value }} assessment
  </div>
  <form [formGroup]="form" (ngSubmit)="submit(form.value)">

    <div formGroupName="metadata">
      <div class="metadata">
        <div class="left">
          <p>
            <span class="label">Industry:</span>&nbsp; {{ industry.value }} </p>
          <p>
            <span class="label">Ocupation:</span>&nbsp; {{ ocupation.value }}</p>
        </div>
        <div class="right">
          <p>
            <span class="label">Framework:</span>&nbsp; {{ framework.value }}</p>
          <p>
            <span class="label">Programming Language:</span>&nbsp; {{ programmingLanguage.value }}</p>
        </div>
      </div>
      <mat-form-field class="areas">
        <input matInput formControlName="areas" placeholder="Topic areas">
        <mat-hint>Separate by space. Example: HTML CSS</mat-hint>
      </mat-form-field>
    </div>

    <div class="dropdowns">
      <mat-form-field>
        <mat-select placeholder="Question Type" formControlName="type">
          <mat-option *ngFor="let type of questionTypes" [value]="type.value">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Question Level" formControlName="level">
          <mat-option *ngFor="let level of questionLevels" [value]="level.value">
            {{level.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Time to complete" formControlName="duration">
          <mat-option *ngFor="let duration of questionDurations" [value]="duration.value">
            {{duration.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="description">
      <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>

    <div *ngIf="type.value && description?.value?.length>5">
      <div class="tf-answer" *ngIf="type.value === 'True/False'">
        <p>Provide the correct True/False answer</p>
        <mat-radio-group>
          <mat-radio-button *ngFor="let option of trueFalseOptions" [value]="option.selected">
            {{option.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="mc-answer" *ngIf="type.value === 'MC'">
        <p>Provide the correct Multiple Choice answer</p>
        <mat-checkbox *ngFor="let option of multipleChoiceOptions" [value]="option.selected">
          <input [(ngModel)]="option.name">
        </mat-checkbox>
      </div>

    </div>

    <mat-divider></mat-divider>
    <button [disabled]="form.pending || form.untouched || form.invalid" class="submit" mat-raised-button color="primary" type=submit>Create
    </button>
    <button routerLink="." (click)="cancel($event)" mat-raised-button class="reset">Cancel
    </button>
  </form>
</div>
