.assessment-container {
  width: 100%;
  margin: auto;
}
.assessment-sidenav-content {
  padding-left: 1rem;
} 

.assessment-sidenav {
  padding: 0 1rem;
}

.header {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.description {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

.questions {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.metadata {
  width: fit-content;
  white-space: nowrap;
  margin: auto;
  border: 1px solid lightgray;
  border-style: groove;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.metadata>div {
  flex: 1;
}

.metadata .left {
  margin-right: 2rem;
}

.label {
  font-weight: 700;
}

