<mat-drawer-container class="assessment-container" autosize>
  <mat-drawer #drawer class="assessment-sidenav" mode="side">
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>close</mat-icon></button>
      {{ assessment.currentName }}
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of navLinks" [routerLink]="link.path">
        <span *ngIf="!link.icon">{{ link.label }}</span>
        <mat-icon [title]="link.label" *ngIf="link.icon">{{ link.icon }}</mat-icon>
      </a>
   </mat-nav-list>

  </mat-drawer>

  <div *ngIf="assessObservable | async as assess" class="assessment-sidenav-content">
    <button mat-icon-button (click)="drawer.toggle()" *ngIf="!drawer.opened"><mat-icon>menu</mat-icon></button>
    <div class="header">
      {{ assessment.currentName }}
      <a [routerLink]="['/admin/assessment/create', 'initial']">
        <mat-icon>edit</mat-icon>
      </a>
    </div>
    <div class="description">
      {{ assess?.description }}
    </div>
    <div class="metadata" *ngIf="assess">
      <div class="left">
        <p>
          <span class="label">Start Date:</span>&nbsp; {{ assess.startDate }} </p>
        <p>
          <span class="label">Company:</span>&nbsp; {{ assess?.company }} </p>
        <p>
          <span class="label">Occupation:</span>&nbsp; {{ assess?.occupation }}</p>
        <p>
          <span class="label">Framework:</span>&nbsp; {{ assess?.framework }}</p>
        <p>
          <span class="label">Level:</span>&nbsp; {{ assess?.level }}</p>
      </div>
      <div class="right">
        <p>
          <span class="label">End Date:</span>&nbsp; {{ assess.endDate }} </p>
        <p>
          <span class="label">Industry:</span>&nbsp; {{ assess?.industry }} </p>
        <p>
          <span class="label">Field:</span>&nbsp; {{ assess?.field }}</p>
        <p>
          <span class="label">Programming Language:</span>&nbsp; {{ assess?.language }}</p>
        <p>
          <span class="label">Passing Grade:</span>&nbsp; {{ assess.passingGrade }}%</p>
      </div>
    </div>
    <div class="questions" *ngIf="questionsObservable | async as questions">
      <div *ngIf="questions.length; else noQuestions">
          <span class="label">Number of Questions:</span>&nbsp;
          <a [routerLink]="questionsLink">{{ questions?.length }}</a>
      </div>
    </div>

  </div>

</mat-drawer-container>

<ng-template #noQuestions>
  <div class="questions">
      No questions yet for &nbsp; {{ assessment?.currentName }}
  </div>
</ng-template>
