<nav mat-tab-nav-bar class="mat-elevation-z6">
  <a mat-tab-link  class="brand" routerLink="/">
    <img title="assess" alt="assess" src="/assets/favicons/asz.png">
  </a>
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive="'active-nav-link'">
    <span *ngIf="!link.icon">{{ link.label }}</span>
    <mat-icon [title]="link.label" *ngIf="link.icon">{{ link.icon }}</mat-icon>
  </a>

  <ng-template #anonymousUser>
    <button (click)="router.navigate(loggedOutUserMenu.path)" mat-button [ngClass]="{'active-nav-link': currentRoute.url === '/login', 'user-menu': true}">
      <span *ngIf="!loggedOutUserMenu.icon">{{ loggedOutUserMenu.label }}</span>
      <mat-icon [title]="loggedOutUserMenu.label" *ngIf="loggedOutUserMenu.icon">{{ loggedOutUserMenu.icon }}</mat-icon>
    </button>
  </ng-template>

  <button *ngIf="auth.loggedInUser.email; else anonymousUser" mat-button [matMenuTriggerFor]="menu" (click)="onMenuClick()"
    class="user-menu">
    {{ userFirstName() || auth.loggedInUser.email}}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
</nav>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [matMenuTriggerFor]="assessment" [ngClass]="{hide: !assessmentMenu.items.length}">{{ assessmentMenu.label }}</button>
  <button *ngFor="let item of loggedInUserMenu.items" [ngClass]="{hide: item.roles && !isAuthorized(item.roles)}"
  (click)="onMenuItemClick(item)"
    mat-menu-item>
    <span *ngIf="!item?.icon">{{ item.label }}</span>
    <mat-icon [title]="item.label" *ngIf="item?.icon">{{ item.icon }}</mat-icon>
  </button>
</mat-menu>

<mat-menu #assessment="matMenu" [overlapTrigger]="false">
  <button *ngFor="let item of assessmentMenu.items" [ngClass]="{hide: item.roles && !isAuthorized(item.roles)}" (click)="onMenuItemClick(item)"
    mat-menu-item>
    {{ item.label }}
  </button>
</mat-menu>
