.question-container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.create-form {
  width: 70%;
  padding: 1rem;
}
.list-questions {
  width: 30%;
  min-width: 400px;
}

.header {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.areas {
  width: 100%;
  padding: 2rem 0;
}
.dropdowns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
.dropdowns > * {
  flex: 1;
  padding-right: 3rem;
}

.description, .explanation, .solution {
  width: 100%;
  padding: 1rem 0;
}

.mat-radio-button, .mat-checkbox {
  display: block;
  margin-bottom: 0.3rem;
}
.mat-radio-button-label, .mat-checkbox-label {
  padding-left: 0.2rem;
}

.buttons {
  padding-top: 2rem;
}

.show-description {
  padding-bottom: 2rem;
}
