<!--  -->
<div class="header">Reset Password</div>
<form class="login-form" [formGroup]="form" (ngSubmit)="submit(form.value)">
  <mat-form-field class="username">
    <mat-icon class="email" matPrefix>email</mat-icon>
    <input formControlName="username" matInput placeholder="email address">
    <mat-error *ngIf="username.invalid && username.errors['email']">
      invalid email address
    </mat-error>
    <mat-error *ngIf="username.invalid && username.errors['required']">
      email address is required.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="password">
    <input formControlName="oldPassword" type="password" matInput placeholder="Old Password">
    <mat-error *ngIf="oldPassword.invalid && oldPassword.errors['required']">
      Old password is required
    </mat-error>
    <mat-error *ngIf="oldPassword.invalid && oldPassword.errors['minlength']">
      Invalid Password
    </mat-error>
  </mat-form-field>
  <mat-form-field class="password">
    <input formControlName="newPassword1" type="password" matInput placeholder="New Password">
    <mat-error *ngIf="newPassword1.invalid && newPassword1.errors['required']">
      New password is required
    </mat-error>
    <mat-error *ngIf="newPassword1.invalid && newPassword1.errors['minlength']">
      Invalid Password
    </mat-error>
  </mat-form-field>
  <mat-form-field class="password">
    <input formControlName="newPassword2" type="password" matInput placeholder="Repeat New Password">
    <mat-error *ngIf="newPassword2.invalid && newPassword2.errors['required']">
      Repeat New password is required
    </mat-error>
    <mat-error *ngIf="newPassword2.invalid && newPassword2.errors['minlength']">
      Invalid Password
    </mat-error>
    <mat-error *ngIf="newPassword2.invalid && newPassword2.errors['passwordMismatch']">
      passwords don't match!
    </mat-error>
  </mat-form-field>
  <button [disabled]="form.pending || form.untouched || form.invalid" class="submit" mat-raised-button color="primary" type=submit>Reset Password
  </button>
  <mat-error class="fail">{{ loginFailed }}</mat-error>
</form>
