.mat-form-field {
  margin-top: 2rem;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  width: 100%;
}

.mat-row:hover {
  background-color: rgba(197,202,233,.3);
  cursor: pointer;
}

.highlight {
    background-color:  rgba(239, 240, 247, 0.3);
}