.email {
  width: 100%;
}
.name {
  width: 100%;
}
.submit {
  margin-top: 1rem;
}

.mat-icon.email {
  color: rgb(80, 57, 143);
  margin-right: 0.5rem;
}
.mat-radio-button {
   margin-right: 1rem;
}

.create-user-form {
  margin-top: 2rem;
}
