.user-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.list-users {
  width: 40%;
  min-width: 600px;
}
.header {
  font-weight: 700;
  font-size: 2rem;
  margin: 2rem auto 1rem auto;
}
.email {
  width: 100%;
}
.name {
  width: 100%;
}
.submit {
  margin-top: 1rem;
}

.mat-icon.email {
  color: rgb(80, 57, 143);
  margin-right: 0.5rem;
}
.mat-radio-button {
   margin-right: 1rem;
}
