/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.site-color {
  color: rgb(165, 108, 118);
}

.link {
  color: #2F609F;
  margin-right: 2rem;
}
.link:hover {
  cursor: pointer;
}

.fail {
  text-align: center;
  margin-top: 0.5rem;
  color: red;
}

.content {
  width: 97%;
  margin: auto;
}

.success {
  text-align: center;
  margin-top: 0.5rem;
  color: green;
}

.highlight {
  background-color:  rgba(239, 240, 247, 0.3);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.flex-container > * {
  padding-right: 2rem;
}

.spinner {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.no-content {
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

