/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}
.create-fail {
  text-align: center;
  margin-top: 0.5rem;
}
.create-success {
  text-align: center;
  margin-top: 0.5rem;
  color: green;
}