/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

.fail {
  text-align: center;
  margin-top: 0.5rem;
  color: red;
}

.success {
  text-align: center;
  margin-top: 0.5rem;
  color: green;
}

.highlight {
  background-color:  rgba(239, 240, 247, 0.3);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.flex-container > * {
  padding-right: 2rem;
}

.spinner {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

