<div class="home-content">

  <ng-template #requestLogin>
    <div class="request-login">
      <a [routerLink]="['/login']">Please Login</a>
    </div>
  </ng-template>

  <ng-template #noAssessment>
    Welcome!!!!
  </ng-template>

  <ng-container *ngIf="auth.loggedInUser.email; else requestLogin">
    <div *ngIf="assess; else noAssessment">
      <h4>{{assess.name}}</h4>
      <div class="title">
        {{ page === 'admin' ? assess.adminPage.title : assess.userPage.title }}
      </div>

      <header class="header">
          {{ page === 'admin' ? assess.adminPage.header : assess.userPage.header }}
      </header>

      <main class="content">
          {{ page === 'admin' ? assess.adminPage.content : assess.userPage.content }}
      </main>

      <footer class="footer">
          {{ page === 'admin' ? assess.adminPage.footer : assess.userPage.footer }}
      </footer>
    </div>
  </ng-container>
</div>
