.home-content {
  width: 97%;
  margin: auto;
}
.request-login {
    margin: 3rem 5rem;
}

.user-page > * {
    margin: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.header {
    font-size: 1.5rem;
    font-weight: 500;
}

.content {
    font-weight: 400;
}

.footer {
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
    font-weight: 300;
}
