.mat-form-field {
  margin-top: 1rem;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  width: 100%;
}

.mat-row:hover {
  background-color: rgba(197,202,233,.3);
  cursor: pointer;
}

.header {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

