
<div class="create-assessment">
  <div class="header">
    Modify {{ page | titlecase }} Page
  </div>
  <div class="name">{{assessment?.currentName}} Assessment</div>
  <form [formGroup]="form" (ngSubmit)="submit(form.value)">
    <div class="pages-container">
      <mat-form-field class="title">
        <input
          formControlName="title"
          matInput
          placeholder="Page title">
      </mat-form-field>
      <mat-form-field class="header">
        <textarea
          matTextareaAutosize matAutosizeMinRows="2"
          matAutosizeMaxRows="5"
          formControlName="header"
          matInput
          placeholder="Page header">
        </textarea>
      </mat-form-field>
      <mat-form-field class="content">
        <textarea
          matTextareaAutosize matAutosizeMinRows="2"
          matAutosizeMaxRows="5"
          formControlName="content"
          matInput
          placeholder="Page main content">
        </textarea>
      </mat-form-field>
      <mat-form-field class="footer">
        <textarea
          matTextareaAutosize matAutosizeMinRows="2"
          matAutosizeMaxRows="5"
          formControlName="footer"
          matInput
          placeholder="Page footer">
        </textarea>
      </mat-form-field>      
    </div>          
    <mat-divider></mat-divider>
    <button
      [disabled]="form.pending || form.untouched || form.invalid"
      class="submit"
      mat-raised-button
      color="primary"
      type=submit>Modify
    </button>
    <button
      routerLink="."
      (click)="cancel($event)"
      mat-raised-button
      class="reset">Cancel
    </button>
  </form>
</div>
  