.create-assessment {
    width: 90%;
    margin: 2rem auto;
}

.create-assessment > .header {
    font-size: 1.5rem;
    margin: auto;
}

mat-form-field {
    width: 100%;
}

.name {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}